/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700&display=swap');
h1, h2, h3, table{
    font-family: 'Inconsolata', monospace;
}

/* TOAST */
.toast-header{
    background: #212529;
    color: azure;
    border-bottom: solid 1px azure;
}
.toast-body{
    background: #212529;
    color: azure;
}

/* MODAL */
.modal-content{
    background: #212529;
    color: azure;
}
h5.modal-title{
    /* color: #212529 !important; */
    color: azure !important;
}