.container.products-cards .row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card{
    padding: 0 !important;
    margin: 10px;
}
.card-body .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-body{
    min-height: 90px;
    text-align: center;
}
.card a{
    font-size: 26pt;
    /* position: absolute; */
    display: block;
}

/* button i{
    font-size: 25pt !important;
} */
.row > .card a:nth-child(1){
    margin-right: 30px;
}
.card a:nth-child(2){
    margin-left: 30px;
}

.cart-error-product{
    background: rgba(187, 55, 55, 0.5);
}

.row{
    padding-top: 10px !important;
}
.alert.alert-warning.alert-dismissible.fade.show{
    margin-top: 10px !important;
}

.notify-diplay-true{
    display: initial !important;
}
#notify-1, #notify-2{
    display: none;
}
