.img-thumbnail{
    max-width: 5rem !important;
}

th{
    text-align: center;
}

td{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}

td p{
    text-align: center;
}
.fila-vendedor{
    padding: 10px;
    padding-left: 20%;
    font-weight: bold;
    font-size: 15pt;    
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: teal;
}

tr th{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18pt;    
}

i.bi.bi-trash{
    color: tomato;
    font-size: 20pt;
}

input[type="number"]{
    max-width: 100px;
    text-align: center;
}

button.btn-delete{
    background: transparent;
    border: 0;
}


h1{
    margin: auto;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 30pt;
}

h4{
    margin-left: 100px;
}

.container .row{
    padding-bottom: 50px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.controls.btn.btn-success{
    margin-left: 38vw;
    padding: 5px 50px !important;
}

label{
    font-size: 15pt;
    margin-right: 10px;
}

#fecha{
    margin-left: 10px;
}