.ticket{
    margin: 20px auto;
    background: #e1e5ea;
    width: 70%;
    /* min-width: 650px;
    min-height: 320px; */
    padding: 0;
    border-radius: 10px;
    position: relative;
}

.ticket-header{
    width: 100%;
    text-align: center;
    background: #007580;
    color: azure;
    border-radius: 10px 10px 0 0;
}
.ticket-header h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.name{
    font-weight: bold;
    font-size: 11pt;
    color: #687980;
    margin-top: 10px;
}
.name.total{
    margin-top: 0;
    font-size: 13pt;
    margin-top: 5px;
}
.img-thumbnail-ceg{
    padding: .25rem;
    /* background-color: #fff; */
    /* border: 1px solid #dee2e6; */
    border-radius: .25rem;
    max-width: 50%;
    height: auto;
}
.vertical-middle{
    display: flex;
    align-items: center;
}
.vertical-horizontal-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.total .col-2.text{
    border-top-style: dotted;
    border-color: #687980;
    margin-top: 5px;
}
.text{
    color: #393e46;
    font-size: 13pt;
}

.product-list{
    margin-top: 15px;
    border-top-style: dotted;
    border-color: #687980;
    position: relative;
}
.product-list::after,
.product-list::before{
    content: '';
    width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -14px;
    background: #ffff;
}
.product-list::after{
    left: 0;
}
.product-list::before{
    right: 0;
}

.ticket-footer{
    margin-bottom: 15px;
    margin-top: 15px;
    border-top-style: dotted;
    border-color: #687980;
    position: relative;
}
.ticket-footer::after,
.ticket-footer::before{
    content: '';
    width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -14px;
    background: #ffff;
}
.ticket-footer::after{
    left: 0;
}
.ticket-footer::before{
    right: 0;
}
.botones_deretorno{
    margin-top: 5%;
}

.boton_personalizado1{
    text-decoration: none;
    padding: 20px;
    margin-bottom: 15%;
    margin-left: 7%;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #348ab4;
    border-radius: 6px;
    border: 2px solid #050505;
}

.boton_personalizado2{
    text-decoration: none;
    padding: 20px;
    margin-left: 22%;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #348ab4;
    border-radius: 6px;
    border: 2px solid #080808;
}

.boton_personalizado3{
    text-decoration: none;
    padding: 20px;
    margin-left: 29%;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #348ab4;
    border-radius: 6px;
    border: 2px solid #080808;
}
.boton_personalizado1:hover{
    color: #1a89c0;
    background-color: #ffffff;
}
.boton_personalizado2:hover{
    color: #1a89c0;
    background-color: #ffffff;
}
.boton_personalizado3:hover{
    color: #1a89c0;
    background-color: #ffffff;
}

.row.btns{
    margin-bottom: 10px;
}
.row.btns .col{
    text-align: center;
}

.btn-return:hover{
    color: teal;
}