
/*
* Estilos Correspondientes al menu superior de las paginas.
*/

/*
* Recuerda el lema: " De lo general a lo particular ".
*/


/*
* Reiniciamos los atributos de todos los elementos
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.msg-error-db{
  background: tomato;
  color: azure;
}

/*
* Le Damos Formato A las etiquetas que vienen predefinidas por html
*/

/*
* Estilos asignados al Cuerpo de la pagina (body).
*/
body{
  background-color: #1a1a1a; /* Le asignamos color a todo el cuerpo de pagina */
  font-family: Arial, sans-serif; /* Le asignamos un estilo de fuente de texto a todo el cuerpo de pagina */
}

/*
* Estilos asignados a la cabecera de la pagina (header).
*/
header{
  display: flex;
  background-color: #007580;
  height: 70px;
}

nav{
  /*border: black solid 4px;*/
  width: 100%;
  height: 100%;
  display: flex;
}

/*
* Estilos asignados a los enlaces de la pagina.
*/
a{
  text-decoration: none;
}

/*
* Le Damos Formato A las clases que fueron definidas por nosotros.
*/

.centrar_menu{
  display: flex;
  /*border: #3e0080 solid 4px;*/
  height: 70px;
  width: 90%;
  margin: auto;
}




/*
* parte izquierda de header
*/

.cabecera_izquierda{
  width: 10%;
  /*border: #ff9999 solid 4px;*/
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.logo img{
  padding: 5px 0px;
  height: 100%;
  width: 80%;
}





/*
* parte derecha de header
*/

.cabecera_derecha{
  width: 90%;
  /*border: #f3ff99 solid 4px;*/
}



/*
* parte derecha de header Botones
*/

.botones_menu{
  /*border: #ff7f33 solid 4px;*/
  height: 100%; 
  width: 100%;
  justify-content: space-between;

  display: none;  
}

.botones_menu button{
  height: 75%;
  padding: 5px 10px;
  font-size: 25px;
  color: #9ddfd3;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
}

.botones_menu button:hover{
  border: 2px solid rgba(255,255,255,0.5) ;
}

.cabecera_derecha .menu_Navegacion .botones_menu .btn_menu_cerrar{
  display: none;
}

.cabecera_derecha .menu_Navegacion .botones_menu .btn_menu_cerrar.activo {
  display: inline-block;
}



/*
* parte derecha de header Opciones Menu
*/

.opciones_menu{
  /*border: #f199ff solid 4px;*/
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

.opciones_menu ul{
  /*border: #aafa9e solid 4px;*/
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.opciones_menu ul li{
  /*border: #ff0004 solid 4px;*/  /* No indispensable, solamente para pruebas */
  border: transparent solid 2px;
  height: 60%;
  list-style: none;
  font-size: 18px;
  padding-top: 5px;
}

.opciones_menu ul li:hover{
  border: #9633ff solid 2px;
  border-radius: 5px;
  background-color: #171b1c;
}

.opciones_menu ul li a{
  color: white;
  padding: 3px 5px;
}



/*
* parte categorias y subcategorias header GRID
*/


/*
* parte categorias
*/

.contenedor_grid{
  position: relative;
  width: 10%;
}

.grid{
  border: #9633ff solid 5px;
  border-radius: 15px;
  width: 1000%;
  height: 310px;
  /*display: none;*/

  position: absolute;
  top: 55px;
  left: 100%;

  z-index: 1000;
  display: none;
  grid-template-columns: 0.8fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "categorias subcategorias subcategorias subcategorias";

}

.conector_Arriba{
  position: absolute;
  color: #9633ff;
  top: -15px;
  font-size: 30px;
  left: 39%;
  display: none;
}

.grid.activo{
  display: grid;
}

.conector_Arriba.activo{
  display: block;
}


.grid > div{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
  max-height: 300px;
}

.grid .regresar{
  color: #9ddfd3;
  background-color: #171b1c;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* Parte de las categorias */

.grid .categorias{
  grid-area: categorias;
  padding-top: 10px;
  padding-left: 10px;
}

.grid .categorias .subtitulo{
  display: none;
}

.grid .categorias a{
  color: #171b1c;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.grid .categorias a i{
  display: none;
}

.grid .categorias a:hover{
  color: #007580;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 20px; 
}

.grid .categorias a:hover i{
  display: inline-block;
  overflow: auto;
}



/* Parte de las subcategorias */

.grid .contenedor-Subcategorias{
  grid-area: subcategorias;
}

.grid .subcategorias{
  display: none;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.grid .subcategorias.activo{
  display: grid;
}

.grid .subcategorias img{
  width: 100%;
  vertical-align: top; 
  height: 100%;
  object-fit: cover;
}

.grid .subcategorias .enlaces-categoria{
  padding-top: 10px;
  height: 100%;
  max-height: 300px;
  overflow: auto;
}

.grid .subcategorias .enlaces-categoria a{
  color: black;
  font-size: 20px;
  display: block;
  padding: 10px 20px;
}

.grid .subcategorias .enlaces-categoria a:hover{
  color: #7c00ff;
  font-size: 24px;
  padding: 7.8px 20px;
  font-weight: bold;
}

.grid .subtitulo{
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
}

.grid .banner-categoria a{
  display: block;
  height: 300px;
}

.grid .galeria-categoria{
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.grid .galeria-categoria a{
  width: 50%;
  height: 150px;
  border-radius: 20px;
}

.grid .galeria-categoria a img{
  border-radius: 5px;
}


/*
*

* Mediaquery

*
*/

/*
*

* tablet

*
*/

@media screen and (max-width: 1300px){
  .centrar_menu{
    width: 100%;
  }
}

@media screen and (max-width: 1200px){
  nav > .botones_menu{
    display: flex;
    justify-content: flex-end;
    
    width: 90%;
    padding-right: 10px;
    padding-top: 10px;

    

  }

  nav > .opciones_menu{

    /*border: #ff00c3 solid 2px;*/
    padding: 0px;
    height: 90vh;
    width: 40%;

    position: absolute;
    top: 70px;
    right: 0px;

    z-index: 2000;

    transition: 0.4s ease all;
    transform: translate(100%);
  }

  nav > .opciones_menu.activo{
    transform: translate(0%);
  }

  nav > .opciones_menu > ul{

    
    background-color: #007580;
    height: 100%;
    padding: 0px 0px;
    border-color: black;

    flex-direction: column;
    align-items: flex-start; /* Posiblemente sobre ests linea de codigo. */
    justify-content: flex-start;

  }

  nav > .opciones_menu > ul > li{
 
    height: 50px;
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
    padding-top: 15px;
  }

  nav > .opciones_menu > ul > li .fa-caret-down{
    transform: rotate(-90deg);
  }

  .cabecera_izquierda{
    width: 20%
  }

  .grid{
    display: grid;
    transition: 0.3s ease all;

    transform: translateX(100%);

    z-index: 3000;
    width: 40%;

    position: fixed;
    top: 70px;
    left: 60%;

    height: 80vh;

    border-color: #007580;

    grid-template-areas: "categorias categorias categorias categorias "

  }

  .conector_Arriba.activo{
    display: none;
  }

  .grid.activo{
    transform: translateX(0%);
  }

  .grid .contenedor-Subcategorias{
    /*display: none;*/
    position: absolute;
    width: 100%;
    height: 88vh;
    transform: translateX(110%);
    transition:  0.3s ease all;
    overflow: auto;

    
  }

  .grid .contenedor-Subcategorias.activo{
    transform: translateX(0%);
  }

  .grid .contenedor-Subcategorias .subcategorias{
    grid-template-columns: 1fr;
  }

  .grid .contenedor-Subcategorias .banner-categoria{
    width: 100%;
    height: 200px;
  }

   .grid .contenedor-Subcategorias .banner-categoria img{
    height: 300px; 
   }

  .grid .contenedor-Subcategorias .galeria-categoria{
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
  }

  .grid .contenedor-Subcategorias .galeria-categoria a{
    height: 100%;
  }

  .grid .contenedor-Subcategorias .enlaces-categoria{
    min-height: 45vh;
    overflow: auto;
  }







  .grid > div{
    height: 90vh;
    max-height: 1000px;
    /*background-color: rgba(255, 255, 255,0.5);*/
  }


  .grid .regresar{
    display: inline-block;
  }

  .grid .categorias .subtitulo{
    display: block;
  }
  
  .grid .categorias{
    height: 90vh;
    max-height: 89vh;
  }


  .btn_menu_barras.activo{
    display: none;
  }

}