@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
/* font-family: 'Barlow Semi Condensed', sans-serif; */

/* HEADER-NAV */
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    /* font-weight: bold; */
}
.navbar-brand img{
    height: 20px;
    margin: auto 5px;
}

.bg-green-ceg{
    background: #007580;
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* font-weight: bold; */
}
.bg-green-ceg li{
    font-size: 13pt;
}
.nav-link.dropdown-toggle{
    color: azure !important;
}
.navbar-expand-lg .navbar-nav {
    transition: 3s !important;
    /* flex-direction: row; */
    position: absolute;
    right: 4rem;
    justify-content: center;
    align-items: center;
}
.navbar-collapse.collapse.show .navbar-nav{
    transition: 0.5s;
    position: initial;
}

.form-search{
    margin: 0;
}


/* FOOTER */
html {
    min-height: 100%;
    position: relative;
  }
body{
    margin-bottom: 300px;
}
footer.row{
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
	background-size: cover;
    width: 100% !important;
    min-height: 300px;
    margin: auto !important;
    box-sizing: border-box;
    padding-top: 150px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    bottom: 0;
    position: absolute;
    color: azure;
}
footer.row .col{
    text-align: center;
}
footer.row .col a{
    color: azure;
    text-decoration: none;
    font-size: 13pt;
}

footer p, a{
    font-size: 13pt !important;
}
footer p{
    margin-top: 17px;
}