

  .formregister {
	border: solid;
	border-color:#007580;
	border-radius: 5px;
	
  }
  
  .formregister h4 {
	font-size: 22px;
	margin-bottom: 20px;
  }

  .formregister p {
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
  }
  
  .formregister a {
	color: white;
	text-decoration: none;
  }
  
  .formregister a:hover {
	color: white;
	text-decoration: underline;
  }
  
  .formregister .botons {
	width: 100%;
	background: #1a1a1a;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
  }

  .formregister textarea {
	resize:none;
  }

  .prin{
	margin:auto;
	width: auto;
	height: 660px;
	background-color:white;
  }*/
