/* PONIENDO NAV CON LETRAS BLANCAS */
.navbar-light, .navbar-brand, a.nav-link{
    color: azure !important;
}
/* navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll */

.details-product{
    margin-top: 20px;
}

.qualification-vendor{
    color: rgb(212, 175, 55) !important;
    margin-top: 5px;
    margin-bottom: 20px;
}

.user-img-comment{
    font-size: 30pt;
}

.buttons-container .btn{
    font-size: 15pt;
    margin: 10px 15px;
}
.container-right{
    margin-top: 20vh;
}
.center-all{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SLIDER */
.slider-container{
    /* background: tomato !important; */
}

/* PARA TEMA OSCURO */
.list-group-item{
    background: transparent !important;
    color: azure !important;
}

/* h1,h2,h3,h4,h5,h6, p{
    color: azure;
} */

a.nav-link.disabled{
    color: tomato !important;
}

